<% layout('layouts/boilerplate') -%> 

<div class="container">
    <div class="row">
        <div class="col-6 mt-5">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <% for (let i = 0; i < match.matchVenue.images.length; i++) { %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= (i == 0 ? 'active' : null ) %>" aria-current="<%= (i == 0 ? 'true' : null )%>"></button>
                  <% } %>
                 </div>
                 
                <div class="carousel-inner">
 
                  <% for (let i = 0; i < match.matchVenue.images.length; i++) { %>
                    <div class="carousel-item <%= (i == 0 ? 'active' : '') %>" data-bs-interval="3000">
                      <img src="<%= match.matchVenue.images[i].url %>"
                      class="d-block w-100 rounded" height="350">
                    </div>
                  <% } %>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card"">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span class="fw-bold text-primary" id="homeTeam"> <%= match.homeTeam %> </span> vs
                        <span class="fw-bold text-danger" id="awayTeam"> <%= match.awayTeam %> </span>
                    </h5>
                    <p class="card-text text-center"><%= match.description %></p>
                </div>
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item list-group-item-primary col-3">Home Team</li>
                  <li class="list-group-item flex-fill text-center fw-bold"><%= match.homeTeam %></li>
                </ul>
								<ul class="list-group list-group-horizontal">
                  <li class="list-group-item list-group-item-danger col-3">Away Team</li>
                  <li class="list-group-item flex-fill text-center fw-bold"><%= match.awayTeam %></li>
                </ul>
								<ul class="list-group list-group-horizontal">
                  <li class="list-group-item list-group-item-secondary col-3">Date</li>
                  <li class="list-group-item flex-fill text-center fw-bold"><%= utils.formatDate(match.matchDate) %></li>
                </ul>								
								<ul class="list-group list-group-horizontal">
                  <li class="list-group-item list-group-item-secondary col-3">Time</li>
                  <li class="list-group-item flex-fill text-center fw-bold"><%= utils.formatTime(match.matchDate) %></li>
                </ul>
                <% if(current_user && (current_user.UserType === 'admin' || current_user.UserType === 'manager')) { %>
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <a href="/matches/<%= match._id %>/edit" class="card-link btn btn-info">Edit Match</a>
                    <form class="d-inline-block ms-1" action="/matches/<%= match._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete Match</button>
                    </form>
                  </div>
                <% } %>
            </div>
        </div>
        <div class="col-6 mt-5">
            <div class="card"">
              <div class="card-body">
                  <h5 class="card-title text-center fw-bolder fs-4 text-success">
                      <%= match.matchVenue.stadiumName %>
                  </h5>
                  <div id="map" style="height: 300px;"></div> 
              </div>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-primary col-3">Main Referee</li>
                <li class="list-group-item flex-fill text-center fw-bold"><%= match.mainReferee %></li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info col-3">1<sup>st</sup> Linesmen</li>
                <li class="list-group-item flex-fill text-center fw-bold"><%= match.linesmen[0] %></li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-warning col-3">2<sup>nd</sup> Linesmen</li>
                <li class="list-group-item flex-fill text-center fw-bold"><%= match.linesmen[1] %></li>
              </ul>				
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-light col-3">number of rows</li>
                <li class="list-group-item flex-fill text-center fw-bold"><%= match.matchVenue.length %></li>
              </ul>	
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-light col-3">number of seats in one row</li>
                <li class="list-group-item flex-fill text-center fw-bold"><%= match.matchVenue.width %></li>
              </ul>	
              <% if(current_user) {%>
                <div class="card-body d-flex align-items-center justify-content-center">
                  <a href="/matches/<%= match._id %>/view_seats" class="card-link btn btn-primary w-50">View Seats</a>
                </div>				
              <% } %>
            </div>
        </div>
    </div>
</div>


<script>
  const mapToken = '<%- process.env.MAPBOX_API_KEY%>';
  const match = <%- JSON.stringify(match) %>
</script>

<script src='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css' rel='stylesheet' />

<script src="/javascripts/showStadiumMap.js"></script>