<% layout('layouts/boilerplate') -%>

<style>
    #main {
        margin: 0 !important; 
        padding: 0;
    }
</style>

<div class="row">
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-auto" style="width: 280px;">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4">Account Details</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/account" class="nav-link text-white <%= current_page === 0 ? 'active' : '' %>">
          <i class="bi bi-person-circle me-2" width="16" height="16"></i>
          Details
        </a>
      </li>
      <% if(current_user.UserType === 'fan') { %>
      <li>
        <a href="/reserved_seats" class="nav-link text-white <%= current_page === 1 ? 'active' : '' %>">
          <i class="bi bi-grid-3x3-gap-fill me-2" width="16" height="16"></i>
          Reserved Seats
        </a>
      </li>
      <% } %>
      <% if(current_user.UserType === 'admin') { %>
      <li>
        <a href="/notifications" class="nav-link text-white <%= current_page === 2 ? 'active' : '' %>">
          <i class="bi bi-bell-fill me-2" width="16" height="16"></i>
          Notifications
          <span class="ms-5 badge bg-info rounded-pill"><%= notificationNum %></span>
        </a>
      </li>
      <li>
        <a href="/delete_user" class="nav-link text-white <%= current_page === 3 ? 'active' : '' %>">
          <i class="bi bi-person-fill-dash" width="16" height="16"></i>
          Delete Users
        </a>
      </li>
      <% } %>
      <li>
        <a href="/logout" class="nav-link text-white <%= current_page === 4 ? 'active' : '' %>">
          <i class="bi bi-door-open-fill me-2" width="16" height="16"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <section class="container" style="min-height: 100vh;"><%- body %></section>
  </div>
</div>

<style>
  li a:hover {
    background-color: black !important;
  }
</style>